################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.exp
*.iobj
*.ipdb
*.pdb
*.dll
*.aps
*.zip
/.vs
/out
/temp
