################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.ipch
/.vs/VSWorkspaceState.json
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/BlockTheSpot
/src/.vs/BlockTheSpot
/src/Release
/src/x64/Release
*.sln
/Debug
/Release
*.exp
*.iobj
*.ipdb
*.lib
*.dll
/src/Debug
*.aps
*.zip